* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.About_us {
  width: 65vw;
  margin-top: 80px;
  height: 60vh;
  display: flex;

  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
